*{
    box-sizing: border-box;
}
body {
    background: #ffffff;
    height: 100vh;
}
.container {
    margin-top: 30px;
}

.half-width {
    height: 590px;
    background: #91b5de;
    padding: 30px;
    text-align: center;
    box-shadow: 5px 5px 10px grey;
}
.generate-btn{
    margin-top: 140px;
    width: 180px;
    padding: 50px;
    border-radius: 50%;
    border: 8px solid #c74c00;
    background: linear-gradient(70deg, orange, tomato);
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
}
#pinGenerator:hover{
    transition: .5sec ease-in-out;
    background: skyblue;
    color: #c74c00;
}


input[type='text']{
    background-color: tomato;
    padding: 10px 0px;
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #858299;
    height: 50px;
    padding: 10px;
}
input[type='text']:focus {
    background-color: #3D4153;
    color: #fff;
    font-size: 20px;
}
.numbers {
    margin: 30px 0;
}

.calc-typed {
margin-top: 20px;
font-size: 45px;
text-align: right;
color: white
}

.calc-button-row {
width: 100%;
}

.button {
width: 20%;
background: #99c5ff;
color: black;
padding: 20px 0;
margin: 5px;
display: inline-block;
font-size: 25px;
text-align: center;
vertical-align: middle;
margin-right: -4px;
border-radius: 10px;
cursor: pointer;
border: 1px solid gray;
}
.button:hover{
    background-color: white;
    border: 1px solid orange;
    
}
.blink-me {
color: #E0B612;
}
.submit-btn {
    border: none;
    margin-top: 20px;
    padding: 10px 120px;
    border-radius: 5px;
    background: linear-gradient(45deg, orange, tomato);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.submit-btn:hover{
    background: white;
    color: green;
}
.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
}
.notify-section{
    width: 35%;
    margin: 0 auto;
}
.action-left {
    color: #FF3C5F;
    margin-top: 10px;
}
#chance{
    height: 30px;
    color: #FF3C5F;
    margin-top: 5px;
}

